<!DOCTYPE html>
{% load url from future %}
{% load i18n static %}
{% load fnp_common fnp_share fnp_lang macros %}
{% load compressed %}

{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}
{% macro site_name %}Timer{% endmacro %}

<html prefix="og: http://ogp.me/ns#">
    <head>
       <title>{% block full_title %}{% usemacro title %} :: {% usemacro site_name %}{% endblock %}</title>
       <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />
        {% compressed_css 'base' %}

        <meta charset="UTF-8" />
        <meta property='og:url' content='{% block "ogurl" %}{{ "/"|build_absolute_uri:request }}{% endblock %}' />
        <meta property='og:title' content='{% block og_title %}{% usemacro title %}{% endblock %}' />
        <meta property='og:site_name' content='{% usemacro site_name %}' />
        <meta property='og:description' content='{% block og_description %}{% endblock %}' />
        <meta property='og:type' content='{% block og_type %}website{% endblock %}' />
        <meta property='og:image' content='{% block og_image %}{% endblock %}' />
        <meta property='og:locale' content='pl_PL' />
    </head>
    <body>
        {% block body %}{% endblock %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js" charset="utf-8"></script>
    {% compressed_js 'base' %}
    {{ piwik_tag|safe }}
    </body>
</html>
